[Unit]
Description=Validator Discord Status for Testnet (ut)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3600
User=sol
Environment="PATH=/bin:/usr/bin:/home/sol/.local/share/solana/install/active_release/bin"
ExecStart=/usr/bin/python3 /home/sol/val_discord_status/main.py --cluster ut
WorkingDirectory=/home/sol/val_discord_status/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
